body {
  font-family: 'Segoe UI', sans-serif;
  margin: 0;
  padding: 0;
  background: #ffffff;
  color: #221515;
  text-align: center;
}

.site-header {
  background: #000000;
  color: #fff;
  padding: 15px 20px;
  display: flex;
  justify-content:flex-start;

}

.site-header nav a {
  color: #fff;
  margin-left: 15px;
  text-decoration: none;
  text-align: right;
}

.main-nav {
  background-color: #000000;
  padding: 10px 10px;
  text-align: end;
}

.main-nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}

.main-nav li {
  margin: 0 15px;
}

.main-nav a {
  text-decoration: none;
  color: white;
  font-weight: bold;
  transition: color 0.3s;
}

.main-nav a:hover {
  color: #ff9800;
}


.hero {
  text-align: center;
  padding: 60px 20px;
  background: rgb(237, 18, 18);
  color: #ffffff;
}

.hero .btn {
  background: #ffffff;
  color: #ff6600;
  padding: 10px 20px;
  border: none;
  margin-top: 20px;
  cursor: pointer;
  font-weight: bold;
}

.product-grid {
  display: grid;
  align-items: center;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
  padding: 100px 50px;
  background: #ffffff;
  transition: box-shadow 0.3s ease, transform 0.3s ease;
  border-radius: 15px;
}

.product {
  background: #f1ebeb;
  padding: 10%;
  border-radius: 5%;
  text-align: center;
  height:auto;
  
}

.product img {
  max-width: 300px;
  height: 300px;
  border-radius: 10%;
  
  box-shadow: 0 0 20px 5px rgba(0, 255, 0, 0.5);
}

.product button {
  background: #ff6600;
  color: #fff;
  border: none;
  padding: 10px;
  margin-top: 10px;
  cursor: pointer;

}

.product :hover {
  color: #ecd32e; /* Green glow */
  transform: scale(1.03); /* Optional zoom effect */
  
}




/* Yellow highlight (default-like) */
.highlight-yellow {
  background-color: yellow;
  color: black;
  padding: 0 4px;
  border-radius: 3px;
}

/* Orange highlight */
.highlight-orange {
  background-color: orange;
  color: white;
  padding: 0 4px;
  border-radius: 3px;
}

/* Custom blue highlight */
.highlight-blue {
  background-color: #007BFF;
  color: white;
  padding: 0 4px;
  border-radius: 3px;
}




.about, .contact {
  padding: 40px 20px;
  background: #eee;
  text-align: center;
}

.footer {
  text-align: center;
  padding: 20px;
  background: #222;
  color: #ccc;
}

.earning {
  background-color: antiquewhite;
  border-radius: 2%;
  text-align: center;
  padding: 20px;
}

.earning-grid {
  display: grid;
  align-items: center;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
  padding: 100px 50px;
  background: #ffffff;
  

}
